@import url('https://fonts.googleapis.com/css2?family=Inconsolata&family=Palette+Mosaic&display=swap');

* {
    border: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
    text-decoration: none;
    font-family: 'Inconsolata', monospace;
    font-weight: 100;
}
body {
    background-color: #1E1D1D;
    
}
h1, h2 {
    text-align: center;
    font-family: 'Palette Mosaic', cursive;
}
h1 {
    font-size: 10vw;
}
h2 {
    font-size: 2rem;
}

hr {
    border: 1px solid #4AD6E9;
    width: 60%;
}

.sections {
    padding: 0 10vw;
}
.sections:not(header, #home, footer) {
    margin-bottom: 80px;
}
#menu {
    z-index: 2;
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #1E1D1D;
}
#menu div a {
    margin-left: 20px;
}
#home {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    height: 100vh;
}
#home p {
    font-size: 20px;
}
#about-skills {
    display: flex;
    justify-content: space-between;
    align-content: center;
    flex-wrap: wrap;
    gap: 50px;
}
#about-skills > div {
    flex-grow: 1;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

#about blockquote * {
    margin-bottom: 10px;
}
#skills > div > div {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 13px;
    margin: 9px;
}

.bubble {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #098d7e;
    box-shadow: 0 0 10px #244d48;
    border-radius: 47%;
    width: 100px;
    aspect-ratio: 1/1;
    cursor: pointer;
}
.skills-show {
    z-index: 2;
    opacity: 0;
    padding: 50px;
    transform: translate(-50%, -50%) scale(0.5);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    position: fixed;
    top: 50%;
    left: 50%;
    background-color: #098d7e;
    box-shadow: 0 0 10px #244d48;
    border-radius: 30px;
    transition: opacity 0.3s, transform 0.3s;
}
  
.skills-show.show {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
}
.skills-show.hide {
    visibility: hidden;
}

.skills-show h3 {
    font-family: 'Palette Mosaic', cursive;
    font-size: 1.5rem;
}
.skills-show li {
    margin-bottom: 5px;
    margin-left: 20px; 
}
#projects {
    position: relative;
}
#projects > div {
    overflow: auto;
    display: flex;
    gap: 10px;
    margin: 20px 0;
    scroll-behavior: smooth;
}
#projects > div::-webkit-scrollbar {
    width: 0;
}
#previous-button, #next-button{
    display: none;
}
.project {
    position: relative;
    left: 0;
    flex: 0 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: end;
    gap: 8px;
    width: 100%;
    height: 450px;
    background-color: #3B4D4B;
    padding: 16px;
    border-radius: 10px;
}
.project hr {
    width: 100px;
}
.project-title {
    font-size: 28px;
}
.project-link {
    display: inline-block;
    text-align: center;
    background-color: #098d7e;
    width: 70px;
    padding: 3px 0;
    border-radius: 8px;
    transition: 0.1s;
}
.project-link:hover {
    transform: scale(1.1);
}
.techs {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    list-style: none;
}
.techs li {
    text-align: center;
    font-size: small;
    background-color: #1E1D1D;
    width: calc(100%/3 - 5px);
    padding: 4px 0;
    border-radius: 8px;
}
li.verMais {
    background-color: #041f96;
    background-color: #8da7a3;
    color: black;
    cursor: pointer;
}
footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    align-content: center;
    flex-wrap: wrap;
    gap: 20px;
    background-color: #000000;
    height: 20vh;
}
footer img {
    height:35px;
}
#opacity {
    position: fixed;
    top: 0;
    left: 0;
    background: #000;
    opacity: .7;
    width: 100vw;
    height: 100vh;
    display: none;
}
.loader {
    z-index: 3;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #1E1D1D;
}
.loader div {
    border-width: 2px 2px 0 0;
    border-style: solid;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    animation: spin 1s infinite linear;
}
  
@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@media (min-width:400px){
    .project{
        width: 300px;
    }
}
@media (min-width:768px) {
    #previous-button, #next-button {
        display: block;
        position: absolute;
        top: 50%;
        cursor: pointer;
    }
    #previous-button{
        left:  calc(10vw - 70px);
        transform: rotate(-135deg);
    }
    #next-button {
        right: calc(10vw - 70px);
        transform: rotate(45deg);
    }
}